body {
    background-color: snow;
}
/* Form */
form {
    padding-top: 20px;
}

/* Navbar Jumbotron */
.jumbos {
    background-color: rgb(207,46,46);
    padding-left: 60px
}

.jumbos li {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

.dropdown-item {
    background-color: brown;
    color: white;
}

.jumbos li a {
    color: aliceblue;
}

/* NavBar Button */
.navbar-toggler-icon {
    background: rgba(255, 142, 142);
}


.indent {
    text-decoration: line-through;
}
.img-fluid {
    width: 100%;
}

.deals {
    background: cornflowerblue;
    text-align: center;
}

footer {
    background: cornflowerblue;
    color: snow;
    padding: 3px;
    margin: 5px;
    margin-top: 15px;
}

footer a {
    color: snow;
}

.padding {
    margin-bottom: 15px;
}

.blue {
    background-color: grey;
}